/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Common style/ utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

h1{
    color: #FFFFFF;
    font-size:55px;
}

.orange-color{
    color: orange;
}
/* Header Style */
.header-bg{
    position: absolute;
    background-color: #2D25A0;
    width: 1380px;
    height: 677px;
    left: 0px;
    top: 0px;
}

.header-content{
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 35px;
    padding: 180px 106px 231px 152px;
    margin-bottom: 231px;
}

.button-icon{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 24px;
}

.watch-live{
    padding-right: 4px;
}

.fa-arrow-right{
   padding-left: 4px;
}

.banner img{
    width: 556px;
    height: 438px;
    margin: 153px 141px 86px 0;
}
.banner:hover img{
    transform: scale(1.2) skewy(10deg);
    transition: transform 1s ease-in;
}

/* Players Style */
.players{
    margin-top: 743px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    padding: 0 180px 0 160px;
}

.player{
    background-color: #FFFFFF;
    box-shadow: 10px 10px 40px gray;
    padding: 15px;
    margin
}

.player img{
    width: 300px;
    height: 256px;
}

.champhion-area{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding: 0px 180px 0px 160px;
}

.champhion-team{
    padding-right: 20px;
}

.champhion-team, img{
    width: 556px;
    height: 438px;
}

.champhion-title{
    padding-left: 20px;
}

.champhion-title h1{
    color: black;
}

/* Team Style */

.copa-team{
    margin-top: 70px;
    padding: 0px 150px 0px 50px;
    box-shadow: 10px 10px 40px gray;
    margin: 50px;
}
.conmebol-team{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.team-title{
    color: black;
}

.team img{
    width: 300px;
    height: 300px;
}
/* Footer Style */
.footer-area{
    margin-top: 100px;
    text-align: center;
}

.footer-logo img{
    width: 483.87px;
    height: 110px;
}

.social-icon .link{
    margin: 20px 0px 20px 0px;
}

.circle-bg{
    background-color: #9F9F9F;
    width: 15px;
    height: 15px;
    margin: 2px;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
}

/* Media Queries */

/* Mobile Devices */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
        padding: 20px;
        margin-top: 30px;
    }
    .players, .champhion-area, .conmebol-team{
        margin: 30px;
        grid-template-columns: repeat(1, 0.5fr);
    }
    .players{
        margin-top: 800px;
    }
    .copa-team{
        margin-top: 100px;
    }
    
    .header-content, .champhion-area{
        flex-direction: column;
    }
    .header-bg{
        background-color: white;
        width: 100%;
        height: 800px;
    }
    
    .title, h1{
        color: black;
        font-size: 50px;
        margin: 0px;
        padding: 0;
    }
    .banner img{
        width: 100%;
        height: 500%;
        margin-top: 50px;
    }
    .banner:hover img{
        transform: scale(1.2) skewy(8deg);
        transition: transform 1s ease-in;
    }
    .champhion-team, img{
        width: 330px;
        height: 330px;
    }
    
}

/* Tablet Devices */

@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container{
        width: 100%;
        padding: 20px;
        margin-top: 30px;
        padding-right: 80px;
    }
    .players, .champhion-area, .conmebol-team{
        margin: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    .players{
        margin-top: 1100px;
    }
    .copa-team{
        margin-top: 100px;
    }
    
    .header-content, .champhion-area{
        flex-direction: column;
    }
    .header-bg{
        background-color: white;
        width: 100%;
        height: 800px;
        text-align: center;
    }
    .title, h1{
        color: black;
        font-size: 50px;
        margin: 0px;
        padding: 0;
        padding-left: 50px;
    }
    .banner img{
        width: 80%;
        height: 300%;
        margin-top: 90px;
        margin-left: 90px;
        padding-left: 50px;
    }
    .banner:hover img{
        transform: scale(1.2) skewy(8deg);
        transition: transform 1s ease-in;
    }
    .champhion-team, img{
        width: 330px;
        height: 330px;
    }
    .champhion-area{
        display: grid;
        margin-left: 50px;
        margin-right: 10px;

    }
}